body{
    font-family: Noto Sans;
}

#services{
    background-color: #E5E5E5;
}

#footer{
    border-style: solid;
    border-color: #C4C4C4;
    background-color: #C4C4C4;
}

#contact{
    background-color: #E5E5E5;
}

/*webpage border color class*/
.gray-border{
    border-style: solid;
    border-color: #E5E5E5;
}

/*h3 font color class*/
.font-brown-color{
    color: #78252D;
}

/*Child Selector*/
/*p>a{}*/

/*Descendants Selector*/
/*body a{}*/