body{
    font-family: Noto Sans;
}

nav{
        
    display: flex;
    justify-content: flex-end;
    margin-right: 1.5rem;
}

nav>a{
    margin-right: .5em;
}
#home{
    margin-top: 10em;
}

#services{
    background-color: #E5E5E5;
}

#footer{
    border-style: solid;
    border-color: #C4C4C4;
    background-color: #C4C4C4;
}

#contact{
    background-color: #E5E5E5;
}

#services ul li{
    list-style-type: none;
}

/*webpage border color class*/
.gray-border{
    -webkit-box-shadow: -1px 6px 18px 20px #E5E5E5; 
    box-shadow: -1px 6px 18px 20px #E5E5E5;
    border: 21px #E5E5E5;
    margin-left: 6em;
    margin-right: 6em;
}
  /*

* this is a sample of a border box

.border-box{
    -webkit-box-shadow: -1px 6px 18px 20px #E5E5E5; 
    box-shadow: -1px 6px 18px 20px #E5E5E5;
    border-color:#E5E5E5 ;
    border-style: solid;
    background-color: #ffff;
    border-width: 20px;
    
    border-style: solid;
    border-color: red;
    border-width: 4px;
    border-top-style: dashed;
    border-bottom-style: dotted;
}

*/

.border-box{
    -webkit-box-shadow: -1px 6px 18px 20px #E5E5E5; 
    box-shadow: -1px 6px 18px 20px #E5E5E5;
    height: 250px;
    width: 250px;
    border: 5px solid #E5E5E5;
    margin: 10px;
    min-width: 100px;
    min-height: 100px;
    background-color: #ffff;
    padding-left: 10px;
}

    /*
 
    .box250{
        height:250px;
        width:250px;
        border:5px solid green;
        margin: 10px;
        min-width:100px
        min-height: 100px:

    }

    .minbox100{
        border: 5px solid green;
        margin: 10px;
        min-width:300px;
        min-height:300px;
    }

    .maxbox500{
        border:5px solid green;
        margin: 10px;
        max-width:500px;
        max-height: 500px;
    }
    
    */



/*h3 font color class*/
.font-brown-color{
    color: #78252D;
}

/*image size class*/
.image-size{
    height: 10em;
    width: 10em;
}


/*Child Selector*/
/*p>a{}*/

/*Descendants Selector*/
/*body a{}*/

/*adjacent sibling selector - same heirarchy*/
/*div + a {}*/

/*general adjacent sibling selector* - same heirarchy but not needed on the next new line/
/*div - a*/

/*pseudo class*/
/*selector:pseudo class

a:link{
    color: red;
}
a:visited{
    color: blue;
}
a:hover{
    color: brown;
}

*/
/*pseudo element*/
/*selector:pseudo element

h1::after{
    content: "!!!";
}
p::first-letter{
    font-size: 200%;
}

*/

/*css precedence - more element initialized (a, h1{}) is more precedent than individual initialization.
    also, div#id (div#tex-blue{})is more precedent that declared in html
*/